includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
    autoload_files:
        - %rootDir%/../../../vendor/autoload.php
    symfony:
        container_xml_path: %rootDir%/../../var/cache/dev/App_KernelDevDebugContainer.xml
