<p>
une nouvelle demande de contact a ete recu

</p>
<ul>
<li>nom : {{ data.name }}</li>
<li>email : {{ data.email }}</li>
</ul>

<p>

<stong> Message </strong> : <br/>
{{ data.message | nl2br }}
</p>